.arrow {
  bottom: 0;
  position: absolute;
  outline: 0;
  transition: all 0.5s;
  border-radius: 5px;
  z-index: 1000;
  background-color: transparent;
  border: 1px solid transparent;
  min-width: 30px;
  min-height: 30px;
  opacity: 1;
}
.arrow-right {
  right: 40%;
}
.arrow-left {
  left: 45%;
}
.arrow:hover {
  border: 1px solid var(--base-color);
  background-color: var(--base-color);
}
.arrow:action {
  background-color: var(--second-color);
}
.arrow::before {
  content: "";
}
