.carousel-image {
}
.feedback .carousel {
  width: 80vw;
}
.feedback .card {
  min-width: 250px;
  height: 100%;
}
.feedback .card .quote::before {
  font-size: 35pt;
  font-family: "Rufina", serif;
  content: "\201c";
}
.feedback .card h4 {
  margin-top: -20px;
}
.feedback .card p {
  font-size: 10pt;
}
