.footer {
  background-color: var(--complementar-base-color);
  color: white;
}
.footer .btn-toogle,
.footer .nav-links,
.footer .nav-links b {
  color: white !important;
}
.footer .title {
  font-family: "Rufina", serif;
}
.footer .item-link {
  font-weight: 200;
}
.footer .container {
  max-width: 100%;
}
